# Core Data Processing
pandas==2.2.2
numpy==1.26.4
pyarrow==15.0.2

# Machine Learning
scikit-learn==1.5.1
xgboost==2.1.1
joblib==1.4.2

# Responsible AI / Explainability
shap==0.46.0
lime==0.2.0.1

# Data & Model Monitoring
evidently==0.4.39

# Data Versioning
dvc==3.51.2

# Experiment Tracking
mlflow==2.14.3

# Configuration & Utilities
python-dotenv==1.0.1
pydantic==2.8.2
tqdm==4.66.5
PyYAML==6.0.2

# Testing
pytest==8.2.2
pytest-cov==5.0.0

# Visualization
matplotlib==3.9.2
seaborn==0.13.2
